@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header nav img{
    width: 170px;
}
nav {
  background-color: white;
}
button:active{
    opacity: 0.7;
}
.nav-item {
  padding-right: 2em;
}
.nav-item a {
    font-family: 'Inter', sans-serif; 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #1f1f1f;
}
.nav-link button {
  color: #1f1f1f;
  background: #f2c745;
  font-weight: 600;
  padding: 14px 28px;
  border: none;
  border-radius: 12px;
}
@media screen and (max-width:322px) {
    header .navbar-toggler{
        margin-left: -30px;
    }
}
@media screen and (max-width:282px) {
    header .navbar-toggler{
        margin-left: -48px;
    }
}

/*   SECTION 1    */
.section-1 {
    margin: auto;
    width: 90%;
    padding: 21.5vmin 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/4729eb9f90eb3a63ba5eba525758e194.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100% 100%; */
}

.section-1 .container {
    margin-top: -30px;
}
.section-1 h2 {
    margin-top: 20px;
      font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 58px;
   width: 65%;
    color: #1f1f1f;
    text-transform: capitalize;
    color: #FFFFFF;
  }
  .section-1 p {
      font-family: 'Space Grotesk', sans-serif;
      color: #F9F9F9;
    font-weight: 400;
    font-size: 19px;
    width: 60%;
    padding-bottom: 20px;
  }
  .section-1 button {
    color: #1f1f1f;
    background: #f2c745;
    font-weight: 600;
    padding: 18px 50px;
    border: none;
    border-radius: 12px;
  }
  

@media screen and (max-width:1030px) {
    .section-1 p {
     width: 60%;
    }
    header nav img{
        width: 100%;
    }
}
@media screen and (max-width:770px) {
    .section-1{
        background-size: cover;
    }

    .section-1 h2 {
       width: 79%;
    }
}
@media screen and (max-width:430px) {
    .section-1 h2 {
        width: 82%;
        font-size: 30px;
    }

    .section-1 button{
        padding: 18px 30px;
    }

    .section-1 p {
        width: 90%;
    }
}
@media screen and (max-width:322px){
    .section-1 button{
        padding: 18px 20px;
    }
    .section-1 h2 {
        font-size: 25px;
    }

}

/* SECTION 2 */
.section-2{
    padding: 50px 0;
}

.section-2 ul li {
   display: inline-block;
  list-style: none;
  padding-right: 3em;
}
.section-2 ul li img{
    width: 110px;
}


@media screen and (max-width:1030px) {
    .section-2 ul li{
        padding-right: 1em;
    }
}
@media screen and (max-width:430px) {
    .section-2 ul li{
        padding-bottom: 1.3em;
    }
}

/* SECTION 3 */
.section-3{
    padding: 40px 0;
    background: #F8F0FE;
}
.section-3 h2{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    padding-bottom: 50px;
}
.section-3 .content{
    background: #FFFFFF;
    border-radius: 12px;
    padding: 35px 10px 10px 10px;
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    height: 184px;
}
.section-3 .content .ellipse{
    flex: 0 0 auto;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 25px;
    background: #F9F9F9;
    border-radius: 3.2rem;
    text-align: center;
    line-height: 3.2rem;
    font-weight: 600;
    font-size: calc(3.2rem * 0.42);
}
.section-3 .content .text{
    font-family: 'Space Grotesk', sans-serif;
    padding-top: 8px;
}
.section-3 .content .text h3{
    font-size: 20px;
    font-weight: 400;
}
.section-3 .content .text p{

    font-weight: 400;
    font-size: 16px;
}
.content-1 .ellipse{
color: #A041F6;
}
.content-2 .ellipse{
color: #F2C745;
}
.content-3 .ellipse{
color: #F44742;
}
.content-4 .ellipse{
    color: #26BCF9;
}
.content-5 .ellipse{
    color: #1F1F1F;
}
.content-6 .ellipse{
   color: #A041F6;
}
@media screen and (max-width:1030px) {
    .section-3 .content{
        width: 100%;
    }
}
@media screen and (max-width:282px) {
    .section-3 .text{
        width: 100%;
        padding-top: 2px;
    }
    .section-3 .content .text p{
        font-weight: 400;
        font-size: 12px;
    }
}


/* SECTION 4 */
img[poly]{
    margin-top: -200px;
}
.section-4{
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 50px;
}
.section-4 h2{
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    width: 63%;
    line-height: 51px;
    color: #1F1F1F;
    padding-bottom: 10px;
}
.section-4 p{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    width: 65%;
    line-height: 26px;
    color: #525252;
}
.section-4 .card{
    width: 16rem;
    height: 16rem;
    background: #F8F0FE;
    border-radius: 12px;
}
.section-4 .card  .card-img-top img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
}
.section-4 .card h3{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #1F1F1F;    
}
.section-4 .card p{
    font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #525252;
}
.section-4 .card .card-body{
margin-top: -30px;
}
.section-4 .row{
    margin-bottom: 90px;
}
@media screen and (max-width:1030px) {
    img[poly]{
        margin-top: -150px;
    }
    .section-4 .card{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width:990px) {
    img[poly]{
       margin-top: -230px;
    }
}


@media screen and (max-width:770px) {
.section-4 .col-lg-3{
    margin-bottom: 50px;
}
.section-4 h2{
 width: 80%
}
.section-4 p{
    width: 80%
}   
}
@media screen and (max-width:767px) {
    img[poly]{
       margin-top: -350px;
    }
}



@media screen and (max-width:430px) {
    .section-4 h2{
     width: 100%;
     font-size: 25px;
    }
    .section-4 p{
        width: 100%
    }
    img[poly]{
        margin-top: -270px;
     }
        
    }
    
@media screen and (max-width:330px) {
    img[poly]{
        margin-top: -200px;
     }
        
    }


/* SECTION 5 */
.section-5{
    background: #E9D3FD;
    padding-top: 50px;
    padding-bottom: 100px;
}
.section-5 .col-lg-5 h3{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 51px
}
.section-5 .col-lg-5 p{
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #525252;
}
.section-5 .col-lg-5 img{
    width: 410px;
}
.section-5 .col-lg-7  .main{
    display: flex;
    flex-flow: row;
    padding-top: 5em;
    padding-right: 9em;
    width: 90%;
    height: 90%;
}
.section-5 .col-lg-7 .row{
    margin-top: -10px;
margin-left: 20px;
  display: flex;
  flex-flow: column;
  margin-bottom: 16px;
}

.section-5 .main .text{
    font-family: 'Space Grotesk', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 21px;
color: #525252;
}
.section-5 .main .text1{
margin-bottom: 49px;
}
.section-5 .main .text2{
    margin-bottom: 29px;
}
.section-5 .main button{
    color: #1f1f1f;
    background: #f2c745;
    font-weight: 600;
    padding: 16px 20px;
    margin-left: 80px;
    width: 50%;
    border: none;
    border-radius: 12px;
}

@media screen and (max-width:1030px) {
    .section-5 .col-lg-5 img{
        width: 100%;
    }
    .section-5 .col-lg-7  .main{
        width: 100%;
        height: 100%;
    }
    /* .vector{
      margin-left: -340px;
    } */
}
@media screen and (max-width:850px){
    .Number{
        height: 50%;
    }
}
@media screen and (max-width:770px) {
    .section-5 .col-lg-7  .main{
        padding-right: 50px;
    }
    .section-5 .main button{
        margin-left: 50px;
    }
    .section-5 .col-lg-5 img{
        height: 70%;
    }
}

@media screen and (max-width:430px){
    .Number{
        height: 50%;
    }
    .section-5 .main button{
        margin-left: 70px;
    }
}





/* SECTION 6 */
.section-6{
    padding: 4em 0em;
}
.section-6 h3{
    font-family: 'Space Grotesk', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 51px;
color: #000000;
}
.section-6 p{
    font-family: 'Space Grotesk', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
width: 55%;
line-height: 26px;
color: #525252;
}
@media screen and (max-width:770px) {
    .section-6 p{
    width: 70%;
    }
} 
@media screen and (max-width:430px) {
    .section-6 p{
    width: 100%;
    }
} 


/* SECTION 7 */
.section-7{
    padding: 60px 0;
}

.section-7 .col-lg-5 h3{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    font-size: 35px;
    line-height: 51px
}
.section-7 .col-lg-5 p{
    font-family: 'Space Grotesk', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 26px;
color: #525252;
}
.section-7 .col-lg-5 img{
    width: 410px;
}
.section-7 .col-lg-7{
    padding-top: 100px;
}
.section-7 .col-lg-7 h4{
    font-family: 'Space Grotesk', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 31px;
color: #1F1F1F;
}
.section-7 .col-lg-7 p{
    font-family: 'Space Grotesk', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #525252;
padding-bottom: 30px;
}
.section-7 .col-lg-7 button{
    color: #1f1f1f;
    background: #f2c745;
    font-weight: 600;
    padding: 16px 50px;
    border: none;
    border-radius: 12px;
}
@media screen and (max-width:1030px) {
    .section-7 .col-lg-5 img{
        height: 70%;
        width: 100%;
    }
}
@media screen and (max-width:770px) {
    .section-7 .col-lg-7{
        padding-top: 100px;
    }
    .section-7 .col-lg-7 p{
    padding-bottom: 10px;
    }
   
}   


/* SECTION 8 */
.section-8{
    margin-top: 30px;
    background: #F9F9F9;
    padding-top: 40px;
    padding-bottom: 20px;
}
.section-8 h2{
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 51px;
    color: #1F1F1F;
    padding-bottom: 10px;
}
.section-8 .card{
    padding-top: 30px;
    width: 16rem;
}
.section-8 h3{
    font-family: 'Space Grotesk', sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: #1F1F1F;
}
.section-8 p{
    font-family: 'Space Grotesk', sans-serif;
    color: #1F1F1F;
}
@media screen and (max-width:1030px) {
    .section-8 .card{
        width: 100%;
    }
}
@media screen and (max-width:770px) {
    .section-8 .card{
      margin-bottom: 30px;
    }
    
}


/*  SECTION 9 */
.section-9{ 
padding-top: 100px;
padding-bottom: 50px;
}
.section-9 h3{
    font-family: 'Space Grotesk', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 51px;
color: #1F1F1F;
}
.section-9 p{
    font-family: 'Space Grotesk', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 31px;
color: #525252;
}
.section-9 form{
    width: 40%;
    padding: 35px 0;
    background: #F9F9F9;
    border-radius: 12px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.section-9 input {
    width: 250px;
    border: 1px solid #A7A7A7;
}
.section-9 textarea{
    width: 250px;
    resize: none;
}
.section-9 label{
    font-family: 'Space Grotesk', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 15.5px;
line-height: 20px;
color: #000000;
}
.section-9 form button{
    color: #1f1f1f;
    background: #f2c745;
    font-weight: 600;
    padding: 16px 50px;
    border: none;
    border-radius: 12px;
}
@media screen and (max-width:770px) {
    .section-9 form{
     width: 60%;
    }
    
}
@media screen and (max-width:430px) {
    .section-9 form{
        width: 100%;
    }
       
} 

/* FOOTER */
footer{
    background: #161824; 
    padding-bottom: 3px;
}
footer ul{
    margin-top: 10px;
}
footer ul li{
    list-style: none;
    padding-bottom: 10px;
}
footer ul li a{
    font-family: 'Space Grotesk', sans-serif;
font-weight: 400;
font-size: 15px;
line-height: 20px;
color: #FFFFFF;
}
footer h3{
    color: #FFFFFF;  
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 20px;
    
}
footer .column i{
    width: 30px;
    height: 30px;
    padding-top: 6px;
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 700.333px;
    color: #FFFFFF;
}

.fot{
    padding-top: 60px;
    border-right: 0.758333px solid #FFFFFF;
    border-bottom:  0.758333px solid #FFFFFF;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

/* footer .col-lg-3 , footer .col-lg-2{
    border-right: 0.758333px solid #FFFFFF;
} */
footer .col-lg-4{
    padding-left: 120px;
    padding-right: 30px;
}
footer .col-lg-4 img{
    width: 200px;
}
footer .follow{
    padding-top: 62px;
    padding-left: 70px;
}
footer .ftext p{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 8px;
}
@media screen and (max-width:1030px) {
    footer .col-lg-4{
        padding-left: 50px;
        padding-right: 30px;
    }
   
}
@media screen and (max-width:770px) {
    .fot{
        margin-bottom: 0px;
    }
    footer .ftext p{
       padding-top: 30px;
    }
    footer .col-lg-4 img{
        max-width: 100%;
    }
}
